img{
    width: 500px;
    height: 350px;
    border-radius: 5%;
    opacity: 50%;
}
.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5%;
    gap: 50px;
}
img:hover{
    opacity: 100%;
    transform: scaleY(1.1);
}